version: "3.3"
services:
  ldes-server:
    container_name: basic_ldes-server
    image: ldes/ldes-server
    environment:
      - SPRING_CONFIG_LOCATION=/config/
      - PYROSCOPE_CONFIGURATION_FILE=/config/pyroscope.properties
    volumes:
      - ./docker-compose/server.config.yml:/config/application.yml:ro
      - ./docker-compose/pyroscope.properties:/config/pyroscope.properties:ro
    ports:
      - "8080:8080"
    networks:
      - ldes
    depends_on:
      - ldes-mongodb
  ldes-mongodb:
    container_name: ldes-mongodb
    image: mongo
    ports:
      - 27017:27017
    networks:
      - ldes
    volumes:
      - C:\Users\janro\Downloads\db\telraam:/data/db:rw
  pyroscope:
    image: grafana/pyroscope:latest
    ports:
      - 4040:4040
    networks:
      - ldes
networks:
  ldes: