version: '3.3'
services:
  ldes-server:
    env_file:
      - ./config.env
    container_name: ldes-server
    image: ldes-server
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    networks:
      - ldes
    depends_on:
      - mongodb
    volumes:
      - ./plugins:/plugins
  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - 27017:27017
    restart: always
    networks:
      - ldes

networks:
  ldes:
    driver: bridge