springdoc:
  swagger-ui:
    path: /v1/swagger
ldes-server:
  host-name: "http://localhost:8080"
management:
  tracing:
    enabled: false
pyroscope:
  agent:
    enabled: true
spring:
  data:
    mongodb:
      database: ldes
      host: ldes-mongodb
      port: 27017
      auto-index-creation: true