name: 3. Approve Snapshot

on:
  release:
    types: [ published ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ldes-server
  JAVA_DISTRIBUTION: ${{ vars.JAVA_DISTRIBUTION }}
  JAVA_VERSION: ${{ vars.JAVA_VERSION }}
  GIT_CONFIG_USERNAME: ${{ vars.GIT_CONFIG_USERNAME }}
  GIT_CONFIG_EMAIL: ${{ vars.GIT_CONFIG_EMAIL }}

jobs:
  approve-snapshot:
    if: ${{ github.ref == 'refs/heads/main' }}
    name: Approve Snapshot and Promote
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}
      - name: Define docker variables
        run: |
          export VERSION=$(mvn help:evaluate -Dexpression="project.version" -q -DforceStdout)
          
          echo "current version: $VERSION"
          if [[ $VERSION == *"-SNAPSHOT" ]]; then
            echo "Dealing with a snapshot version. Current version: $VERSION"
            export NEWVERSION=$(echo ${VERSION/"-SNAPSHOT"/""})
            echo "New version: ${NEWVERSION}"
            mvn -B versions:set -DnewVersion=${NEWVERSION} -DgenerateBackupPoms=false
            git config --global user.name "${{ env.GIT_CONFIG_USERNAME }}"
            git config --global user.email "${{ env.GIT_CONFIG_EMAIL }}"
            git config --global url."https://${{ env.DEPLOY_DOCS_PAT }}@github.com/".insteadOf https://github.com/
            git add -A
            git commit -am "ci: Promoted version to ${NEWVERSION}"
            echo "NEW_VERSION=${NEWVERSION}" >> $GITHUB_ENV
          else
            echo "Already released. Current version: $VERSION"
          fi
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        if: ${{ env.NEW_VERSION != '' }}
        with:
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: ci/promote-snapshot
          delete-branch: true
          title: '[ci] Promote snapshot ${{ env.NEW_VERSION }}'
          body: |
            As part of QA process, the snapshot version is being promoted to a release version.
          labels: |
            promotion
            automated pr
